{% extends "base.html" %}
{% block content %}
<body>
  {% with messages = get_flashed_messages(with_categories=True) %}
      {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  <!-- Create Game Title -->
  <form action="{{ url_for('builder') }}" method="POST">
          <h3><b><label for="title" class="form-label">Name your trail:</label></b></h3>
          <input type="text" class="form-control" id="title" name="title" placeholder={{ currTitle }} required>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Set Name</button>
  </form>

  <!-- Setting Start Date -->
  <form action="{{ url_for('builder') }}" method="POST">
          <label for="events" class="form-label">Choose Journey's Start Date</label>
          <input type="date" class="form-control" id="startDate" name="startDate" required>
      </div>
      <h6>This is your current starting date: {{ startDate }}</h6>
      <button type="submit" class="btn btn-success btn-lg">Set Date</button>
  </form>

  <!-- Change Start and End Location -->
  <form action="{{ url_for('builder') }}" method="POST">
          <label for="start" class="form-label">Start point:</label>
          <input type="text" class="form-control" id="start" name="start" placeholder={{ startPoint }} required>
          <label for="end" class="form-label">End point:</label>
          <input type="text" class="form-control" id="end" name="end" placeholder={{ endPoint }} required>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Change destination</button>
  </form>

  <!-- <p>
    {{ path }}
  </p> -->


  <!-- Change Trail Distance -->
  <form action="{{ url_for('builder') }}" method="POST">
          <label for="start" class="form-label">Length of the trail in miles:</label>
          <input type="number" class="form-control" id="trailLength" name="trailLength" placeholder={{ trailLength }} required>
          </div>
      <button type="submit" class="btn btn-success btn-lg">Change distance</button>
  </form>


  <!-- Adding new characters -->
  <form action="{{ url_for('builder') }}" method="POST">
          <b><label for="character" class="form-label">Create a New Playable Character</label></b>
          <br><label for="events" class="form-label">Add a name: </label>
          <input type="text" class="form-control" id="characterName" name="characterName" required>
          <label for="events" class="form-label">A description of who they are:</label>
          <input type="text" class="form-control" id="description" name="description" required>
          <label for="events" class="form-label">Starting amount of health: </label>
          <input type="number" class="form-control" id="startingHealth" name="startingHealth" required>
          <label for="events" class="form-label">Starting amount of Money $: </label>
          <input type="number" class="form-control" id="startingBalance" name="startingBalance" required>
          <label for="events" class="form-label">By what do we multiply their points total (the harder they are to start with, the higher this should be): </label>
          <input type="number" class="form-control" id="bonusStat" name="bonusStat" required>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Add character</button>
  </form>

  <!-- <p> {{ characters }} </p> -->


  <!-- Creating monuments along the journey -->
  <!-- <form action="{{ url_for('builder') }}" method="POST">
          <b><label for="monuments" class="form-label">New Monument</label></b><br>
          <label for="monuments" class="form-label">What is it called: </label>
          <input type="text" class="form-control" id="monumentName" name="monumentName" required>
          <label for="monuments" class="form-label">What will it's purpose be: </label>
          <select name="monumentType" id="monumentType" class="form-control" required>
            <option value="danger">Dangerous Obstacle</option>
            <option value="loot">Place to explore and find stuff</option>
            <option value="shop">A shop-type to stock up on supplies</option>
          </select>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Add Monument</button>
  </form>
<p>{{ monuments }}</p> -->

  <!-- Obstacle -->
  <form action="{{ url_for('builder') }}" method="POST">
    <label for="obstacleName" class="form-label">What do you want the name of the main obstacle to be: </label>
    <input type="text" id="obstacleName" name="obstacleName">
    <input type="submit">
  </form>

  <!-- Adding New events -->
  <!-- <form action="{{ url_for('builder') }}" method="POST">
          <label for="events" class="form-label">New Event</label>
          <input type="text" class="form-control" id="event" name="event" required>
      </div>
      <button type="submit" class="btn btn-success btn-lg">Add Event</button>
  </form> -->
<br>

<!-- <form action="{{ url_for('builder') }}" method="POST">
  <label for="file" class="form-label">Upload image for background: </label>
  <input type="file" id="wagonImage" name="wagonImage">
  <input type="submit">
</form>
  <form action="{{ url_for('builder') }}" method="POST">
    <label for="file" class="form-label">Upload image for background: </label>
    <input type="file" id="backgroundImage" name="backgroundImage">
    <input type="submit">
  </form>
  <form action="{{ url_for('builder') }}" method="POST">
    <label for="file" class="form-label">Upload image for further midground: </label>
    <input type="file" id="midgroundImageOne" name="midgroundImageOne">
    <input type="submit">
  </form>
  <form action="{{ url_for('builder') }}" method="POST">
    <label for="file" class="form-label">Upload image for nearer midground: </label>
    <input type="file" id="midgroundImageTwo" name="midgroundImageTwo">
    <input type="submit">
  </form>
  <form action="{{ url_for('builder') }}" method="POST">
    <label for="file" class="form-label">Upload image for foreground: </label>
    <input type="file" id="foregroundImage" name="foregroundImage">
    <input type="submit">
  </form> -->

<br>
  <!-- Reset everything -->
  <form action="{{ url_for('builder') }}" method="POST">
      <button type="submit" class="btn btn-danger btn-lg" id="reset" name="reset" value="reset">Reset</button>
  </form>

  <br><br>

  <!-- Save everything -->
  <form action="{{ url_for('builder') }}" method="POST">
      <button type="submit" class="btn btn-success btn-lg" id="save" name="save" value="save">Save Game</button>
  </form>


  <!-- <p>
    {{ game }}
  </p> -->
{% endblock %}
