<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Salty Llamas Site</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
      body {
        margin: 0;
        overflow: hidden;
        background-color: black;
      }
      #game-container {
        position: relative;
        width: 100vw;
        height: 100vh;
      }
      #layer1 {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
      }
      #file-input {
        display: none;
      }
      @import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
    </style>

    <h1 class="text-white align-center">{{ test }}</h1>
    <img id="layer-1" src="{{ image1 }}" hidden>
    <img id="layer-1" src="{{ image2 }}" hidden>
    <img id="layer-1" src="{{ image3 }}" hidden>
    <img id="layer-1" src="{{ image4 }}" hidden>
    <img id="layer-1" src="{{ image5 }}" hidden>
    <img id="layer-1" src="{{ image6 }}" hidden>
  </head>
  <body>
    <div id="game-container">
      <canvas id="layer1"></canvas>
      <input type="file" id="file-input" accept="image/*">
    </div>
    <script src="../static/js/base.js"></script>
  </body>
</html>
