{% extends "base.html" %}
{% block content %}
  <h2 class="text-center">Oregon Trail – On the Move</h2>
       <div id="game-container" class="bg-white position=relative width=100vw height=100vh">
      <canvas id="layer1" class ="position=absolute width=100% height=100% display=block"></canvas>
       </div>
  <div class="card bg-secondary text-light mb-4">
    <div class="card-body">
      <h5 class="card-title">Current Game State</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-secondary text-light">
          <strong>Party Name:</strong> {{ game_state.party_name }}
        </li>
        <li class="list-group-item bg-secondary text-light">
          <strong>Companions:</strong>
          {% if game_state.companions %}
            {{ game_state.companions | join(", ") }}
          {% else %}
            (none)
          {% endif %}
        </li>
        <li class="list-group-item bg-secondary text-light">
          <strong>Distance Traveled:</strong> {{ game_state.distance }} of {{ total_trail }} miles
        </li>
        <li class="list-group-item bg-secondary text-light">
          <strong>Days on Trail:</strong> {{ game_state.days_on_trail }}
        </li>
        <li class="list-group-item bg-secondary text-light">
          <strong>Survivors:</strong> {{ game_state.survivors }}
        </li>
        <li class="list-group-item bg-secondary text-light">
          <strong>Food (lbs):</strong> {{ game_state.food }}
        </li>
        <li class="list-group-item bg-secondary text-light">
          <strong>Money:</strong> ${{ game_state.money }}
        </li>
        <li class="list-group-item bg-secondary text-light">
          <strong>Oxen Spent:</strong> ${{ game_state.oxen_spent }}
        </li>
        <li class="list-group-item bg-secondary text-light">
          <strong>Bullets:</strong> {{ game_state.bullets }}
        </li>
        <li class="list-group-item bg-secondary text-light">
          <strong>Clothing (sets):</strong> {{ game_state.clothing }}
        </li>
        <li class="list-group-item bg-secondary text-light">
          <strong>Misc Kits:</strong> {{ game_state.misc }}
        </li>
      </ul>
    </div>
  </div>

  <h4 class="text-center mb-3">What will you do?</h4>
  <div class="row g-3 justify-content-center mb-4">
    <div class="col-6 col-md-2">
      <form method="POST" action="{{ url_for('play') }}">
        <button type="submit" name="action" value="travel"
                class="btn btn-primary w-100">Travel</button>
      </form>
    </div>
    <div class="col-6 col-md-2">
      <form method="POST" action="{{ url_for('play') }}">
        <button type="submit" name="action" value="hunt"
                class="btn btn-success w-100">Hunt</button>
      </form>
    </div>
    <div class="col-6 col-md-2">
      <form method="POST" action="{{ url_for('play') }}">
        <button type="submit" name="action" value="rest"
                class="btn btn-warning w-100">Rest</button>
      </form>
    </div>
    <div class="col-6 col-md-2">
      <form method="POST" action="{{ url_for('play') }}">
        <button type="submit" name="action" value="fort"
                class="btn btn-secondary w-100"
                {% if not game_state.fort_option_flag %}disabled{% endif %}>
          {% if game_state.fort_option_flag %}Visit Fort{% else %}Fort Unavailable{% endif %}
        </button>
      </form>
    </div>
    <div class="col-6 col-md-2">
      <form method="POST" action="{{ url_for('play') }}">
        <input type="hidden" name="reset" value="1" />
        <button type="submit" class="btn btn-outline-danger w-100">Reset Game</button>
      </form>
    </div>
  </div>
    <image id='DesertBg' src="../static/images/gameImages/Desert/Background.png" hidden></image>
    <image id='DesertFg' src="../static/images/gameImages/Desert/Foreground.png" hidden></image>
    <image id='DesertMg1' src="../static/images/gameImages/Desert/Midground1.png" hidden></image>
    <image id='DesertMg2' src="../static/images/gameImages/Desert/Midground2.png" hidden></image>

    <image id='JungleBg' src="../static/images/gameImages/Jungle/Backround.png" hidden></image>
    <image id='JungleFg' src="../static/images/gameImages/Jungle/Foreground.png" hidden></image>
    <image id='JungleMg1' src="../static/images/gameImages/Jungle/Midground1.png" hidden></image>
    <image id='JungleMg2' src="../static/images/gameImages/Jungle/Midground2.png" hidden></image>


    <image id='MountainBg' src="../static/images/gameImages/Mountain/Background.png" hidden></image>
    <image id='MountainFg' src="../static/images/gameImages/Mountain/Foreground.png" hidden></image>
    <image id='MountainMg1' src="../static/images/gameImages/Mountain/Midground1.png" hidden></image>
    <image id='MountainMg2' src="../static/images/gameImages/Mountain/Midground2.png" hidden></image>
    <image id='CustomWagon' src="" hidden></image>
    <image id='Wagon' src="../static/images/gameImages/Objects/Wagon.gif" hidden></image>
    <input type="file" id="file-input" accept="image/*">

    <input type="file" id="file-input" accept="image/*">

  <script src="../static/js/game.js"></script>
{% endblock %}
